:root {
    --accent-color: #2196f3;
    --title-color: #212121;
    --main-text-color: #757575;
    --btn-background-color: #2196f3;
    --background-color: #2f303a;
    --btn-accent-color: #ffffff;
    --main-font: 'Roboto', sans-serif;
    --transition-duration: 250ms;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}