.adventage-list {
    display: flex;
    flex-wrap: wrap;
    
    @media screen and (min-width:768px) {
    gap: 30px;
    }
}



.advantage-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    width: 100%;
    @media screen and (min-width:1200px) {
    width: 270px;
    height: 120px;
    }
    
}
   

.adventage-item {
    width: 100%;
    gap: 30px;
    @media screen and (min-width:768px) {
    width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width:1200px) {
    width: calc((100% - 90px) / 4);
    }
}


.adventage-title {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--title-color);
    margin-bottom: 10px;
    @media screen and (min-width:768px) {
    text-align: left;
    }
}


.adventage-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    /* max-width: 270px; */
}