.header {
    border-bottom: 1px solid #ececec;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: var(--accent-color);
}

.studio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: #000000;
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}

.contacts {
    display: flex;
    margin-left: auto;
}



.navigation__list {
    display: flex;
    margin-left: 93px;
}

.navigation__link {
    display: block;
    position: relative;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    padding: 32px 0;
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}


.navigation__link__current {
    color: var(--accent-color);
}



.navigation__link__current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    left: 0;
    bottom: 1px;
    border-radius: 2px;
    opacity: 0;
   
}

.navigation__link__current::after {
opacity: 1;
}



.contacts__link {
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
     color: var(--accent-color);
     fill: var(--accent-color);
    }
    &:not(:last-child) {
    margin-right: 5px;
    }
}



.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}