.header {
    border-bottom: 1px solid #ECECEC;

}

.web {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: var(--accent-color);
    @media screen and (min-width:1200px) {
    font-size: 24px;}
}

.studio {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
    color: #000000;
    @media screen and (min-width:1200px) {
    font-size: 24px;
    }
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
    display: none;
    @media screen and (min-width:768px) {
    display: flex;
    }
}


.navigation__logo {
@media screen and (min-width:768px) {
    margin-right: 87px;
    }
    @media screen and (min-width:1200px) {
    margin-right: 92px;
}
}

.contacts__item:not(:last-child) {
    padding-bottom: 10px;
    @media screen and (min-width:1200px) {
    margin-right: 30px;
    padding-bottom: 0;
    }
}

 
.contacts {
    display: flex;
    display: none;
    @media screen and (min-width:768px) {
    display: block;    
    margin-left: auto;
    }
    @media screen and (min-width:1200px) {
    display: flex;
    }
}


.navigation__list {
    display: flex;
}

.navigation__link {
    display: block;
    position: relative;
   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    padding: 32px 0;
    &:hover,
    &:focus {
    color: var(--accent-color);
    }
}

.navigation__item:not(:last-child) {
    margin-right: 50px;
}


.navigation__link__current {
    color: var(--accent-color);
}



.navigation__link__current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    left: 0;
    bottom: 1px;
    border-radius: 2px;
    opacity: 0;
   
}

.navigation__link__current::after {
opacity: 1;
}



.contacts__link {
    display: flex;
    align-items: center;
    width: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--timing-function);
    &:hover,
    &:focus {
     color: var(--accent-color);
     fill: var(--accent-color);
    }
    &:not(:last-child) {
    margin-right: 5px;
    }
    @media screen and (min-width:1200px) {
    font-size: 14px;
    }
}



.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.mob-open-btn {
   margin-left: auto;
   border: none;
   background-color: #ffffff;
    @media screen and (min-width:768px) {
            display: none;
        }
}



.menu-mob {
    background-color: #ffffff;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    >.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
      
}

.menu-close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 15px;
    // margin-left: auto;
    // margin-bottom: 15px;
    border: none;
    background-color: #ffffff;
    &:hover,
    &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    }
}



.mob-navigation-item:not(:last-child) {
    margin-top: 48px;
    margin-bottom: 32px;
    
}



.mob-navigation-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    &:hover,
    &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    }
}

.mob-navigation-link-current {
    color: var(--accent-color);
}


.mob-contacts {
    margin-bottom: 64px;
}

.mob-contacts-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
    &:hover,
    &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    }
    }  


.mob-tel-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mob-soc-list {
    position: relative;
    display: flex;
    justify-content: space-between;
   
}

.mob-soc-item:not(:last-child) {
    &::after {
    content: '';
    width: 22px;
    height: 0px;
    left: 135px;
    top: 726px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    margin-left: 20px;
    }
}

.mob-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
}